@model BlogProject.Models.Post

<form asp-action="CreatePost">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="form-group">
        <label asp-for="UserId" hidden class="control-label"></label>
        <input asp-for="UserId" hidden class="form-control" asp-items="ViewBag.UserId"></input>
    </div>

    <div class="form-group">
        <label asp-for="Titre" class="control-label"></label>
        <input asp-for="Titre" class="form-control" />
        <span asp-validation-for="Titre" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Body" class="control-label"></label>
        <textarea asp-for="Body" class="form-control" rows="5"></textarea>
        <span asp-validation-for="Body" class="text-danger"></span>
    </div>

    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-dark createbtn" />
    </div>
</form>

<script>
    $(document).ready(function () {
        $('textarea').on('input', function () {
            this.style.height = 'auto';
            this.style.height = (this.scrollHeight) + 'px';
        });
    });
</script>
